@model SaveReturnRateViewModel
@{
    bool editMode = ViewBag.EditMode ?? false;
	ViewData["title"] = "Return Rates";
}

<div class="row">
	<div class="text-center">
		<h1 class="display-4">Return Rates</h1>
	</div>
</div>

<div class="row">
    <div class="col-12 col-md-6 offset-3">
        <div class="card">
            <div class="card-header bg-dark-subtle text-light">
                <h4 class="text-center">Current Return Rates</h4>
            </div>
            <div class="card-body">
                <form asp-controller="ReturnRate" asp-action="Index" method="post">
                    <input type="hidden" asp-for="Id" />
                    <div class="mb-6">
                        <label asp-for="MinimumRate" class="form-label">Minimum stimated rate:</label>
                        <input asp-for="MinimumRate" class="form-control" />
                        <span asp-validation-for="MinimumRate" class="text-danger"></span>
                    </div>
                    <div class="mb-6">
                        <label asp-for="MaximumRate" class="form-label">Maximum stimated rate:</label>
                        <input asp-for="MaximumRate" class="form-control" />
                        <span asp-validation-for="MaximumRate" class="text-danger"></span>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-dark text-light float-end">Save</button>
                        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-dark float-end">Back To Home</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>