@model DeleteMacroindicatorViewModel
@{
    ViewData["Title"] = "Delete macroindicator";
}

<div class="col-12 col-md-6 mt-4 offset-md-3 ">
    <div class="card">
        <div class="card-header bg-danger text-light">
            <h4 class="text-center">
                Are you sure want to delete the macroindicator -
                @Model.Name?
            </h4>
        </div>
        <div class="card-body">
            <form asp-controller="Macroindicator" asp-action="Delete" method="POST">
                <input type="hidden" asp-for="Id" />

                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-danger me-2">Delete</button>
                    <a asp-controller="Macroindicator" asp-action="Index" class="btn btn-outline-warning">Back to list</a>
                </div>
            </form>
        </div>
    </div>
</div>
